



PATH=/bin:/sbin:/usr/bin:/usr/sbin:/__STUDIO__/pipeline/tools/scripts/:/__STUDIO__/pipeline/tools/scripts/admin/
PYTHONPATH=/__STUDIO__/pipeline/tools/python

#		day		day
# min	hour	month	month	week	command line
# =====	=======	=======	=======	=======	===========================================================================================================================================================
  */5	*	*	*	*	maintainJobPermissions.sh	2>&1 >> /logs/maintainJobPermissions.sh.log	2>&1
  0	0	*	*	*	maintainPipePermissions.sh	2>&1 >> /logs/maintainPipePermissions.sh.log	2>&1
  0	0	*	*	*	install-chrome.sh		2>&1 >> /logs/install-chrome.sh.log		2>&1
  0	0	*	*	*	install-blender.sh		2>&1 >> /logs/install-blender.sh.log		2>&1
  0	0	*	*	*	install-nuke.sh			2>&1 >> /logs/install-nuke.sh.log		2>&1
  0     0       *       *       *       install-houdini.sh              2>&1 >> /logs/install-houdini.sh.log            2>&1
  *	*	*	*	*	( for n in $(ls /logs) ; do tail -n 2000000 /logs/$n > /logs/$n.tmp ; mv /logs/$n.tmp /logs/$n ; done )
